<form [formGroup]="bandForm">
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="formationYear">Formation year</label>
    <input type="number" class="form-control" id="formationYear" formControlName="formationYear">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="isActive" formControlName="isActive">
    <label class="form-check-label" for="isActive">Is active</label>
  </div>
  <div class="form-group">
    <label for="biography">Biography</label>
    <textarea class="form-control" id="biography" rows="3" formControlName="biography"></textarea>
  </div>
  <button type="button" class="btn">Undo</button>
  <button type="submit" class="btn btn-primary">Add</button>
</form>